
<div class="container">

  {{#each projects}}
      <div class="card">
        <div class="card-header">
          <h2>{{name}}</h2>
        </div>
        <div class="card-body">
          <p>{{description}}</p>
          <p>{{needed_funding}}</p>
        </div>
      </div>
  {{/each}}

</div>