
<div class="container">


  {{#each blogs}}
      <div class="card">
        <div class="card-header">
          <h2>{{name}}</h2>
        </div>
        <div class="card-body">
          <p>{{description}}</p>
        </div>
      </div>
  {{/each}}

</div>