
<div class="container">


      <div class="card">
        <div class="card-header">
          <h2>New Blog</h2>
        </div>
        <div class="card-body">
         
          <form id="new-blog-form">
            <div class="form-field">
              <label for="blog-title">title</label>
              <input name="blog-title" id="blog-title" type="text" />
            </div>

            <div class="form-field">
              <label for="blog-body">title</label>
              <textarea name="blog-body" id="blog-body" rows="5"></textarea>
            </div>

            <button type="submit">submit</button>
            
          </form>

        </div>
      </div>


</div>

<script src="./js/newblog.js"></script>