<a href="/newblog">New Blog Post</a>

{{#each posts}}
  <div class="card">
    <div class="card-header">
      <a href="/blog/:id"><h2>{{title}}</h2></a>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </div>
{{/each}}



{{!-- <script src="./js/profile.js"></script> --}}