:root {
  --primary: white;
  --secondary: navy;
  --tertiary: lightblue;
  --quatrinary: floralwhite;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
  border-bottom-style: solid;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--tertiary);
}

nav {
  display: flex;
  background-color: var(--tertiary);
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  min-height: 100%;
  margin: 0px auto;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
  padding: 50px;
  background-color: floralwhite;
}
 /* LAYOUT */
 .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
footer {
  padding: 20px;
  text-align: center;
  background: var(--tertiary);
  color: var(--secondary);
  border-bottom-style: solid;
}